In [6]:
import json
import os
import requests
import pandas as pd

In [41]:
with open('weather_stations.json', 'rb') as f:
        stations = json.load(f)

In [2]:
forecast_data = pd.read_csv('../data/forecasts/forecast_test.csv', na_filter=False)
forecast_data.head()

,Unnamed: 0,station_id,date,min_temp,max_temp,weather,image
0,0,43367,12-Aug,26.0,29.0,Generally cloudy sky with one or two spells of...,img/14.gif
1,1,43367,13-Aug,25.0,29.0,Generally cloudy sky with one or two spells of...,img/14.gif
2,2,43367,14-Aug,25.0,28.0,Generally cloudy sky with a few spells of rain...,img/15.gif
3,3,43367,15-Aug,27.0,28.0,Generally cloudy sky with a few spells of rain...,img/15.gif
4,4,43367,16-Aug,26.0,30.0,Generally cloudy sky with one or two spells of...,img/14.gif

In [3]:
forecast_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8316 entries, 0 to 8315
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  8316 non-null   int64
 1   station_id  8316 non-null   int64
 2   date        8316 non-null   object
 3   min_temp    8316 non-null   float64
 4   max_temp    8316 non-null   float64
 5   weather     8316 non-null   object
 6   image       8316 non-null   object
dtypes: float64(2), int64(2), object(3)
memory usage: 454.9+ KB

In [22]:
zero_forecast_station_ids = forecast_data[forecast_data['max_temp'] == 0]['station_id'].unique().tolist()

In [23]:
zero_forecast_station_ids

[99416, 42062, 88814, 101008, 99990, 101015, 101024, 99991, 43337, 99463]

In [4]:
weather_img = forecast_data[['weather', 'image']].drop_duplicates()

In [31]:
weather_img.to_json('weather_img.json', indent=4, orient="records")

In [27]:
forecast_data[forecast_data['weather'] == 'NA']

      Unnamed: 0  station_id    date  min_temp  max_temp weather      image
2412        2412       42752  16-Aug      22.0      29.0      NA  img/0.gif
2426        2426       42559  16-Aug      22.0      30.0      NA  img/0.gif
2489        2489       42855  16-Aug      22.0      30.0      NA  img/0.gif
2608        2608       42776  16-Aug      23.0      30.0      NA  img/0.gif
2636        2636       42767  16-Aug      21.0      25.0      NA  img/0.gif
2657        2657       42574  16-Aug      26.0      32.0      NA  img/0.gif
2671        2671       42571  16-Aug      24.0      30.0      NA  img/0.gif
2685        2685       42771  16-Aug      24.0      30.0      NA  img/0.gif
2706        2706       42459  16-Aug      23.0      31.0      NA  img/0.gif
2741        2741       42679  16-Aug      24.0      29.0      NA  img/0.gif
3343        3343       42515  16-Aug      17.0      24.0      NA  img/0.gif
8313        8313       88824  16-Aug      27.0      31.0      NA  img/0.gif

In [42]:
# non_zero_forecast_station_ids = forecast_data[forecast_data['max_temp'] != 0]['station_id'].unique().tolist()
# non_zero_station_ids_set = set(non_zero_forecast_station_ids)

# for state_ut, cities in list(stations.items()):
#     for station_name, station_id in list(cities.items()):
#         if int(station_id) not in non_zero_station_ids_set:
#             stations[state_ut].pop(station_name)

# with open("available_weather_stations.json", "w") as file:
#     json.dump(stations, file, indent=4)

Araria 99382 Bihar
Aurangabad 50003 Bihar
Aurangabad Bh Kvk 99383 Bihar
Banka 99384 Bihar
Begusarai 99385 Bihar
Chapra 42488 Bihar
East Champaran 99387 Bihar
Farbesganj 42395 Bihar
Jamui 99388 Bihar
Katihar 99389 Bihar
Khagaria 99390 Bihar
Madhubani 50001 Bihar
Motihari 42383 Bihar
Nalanda 50002 Bihar
Nawada 99392 Bihar
Rajgir 50004 Bihar
Saraiya 99391 Bihar
Sheikpura 99394 Bihar
Sitamarhi Kvk 99395 Bihar
Supaul 42393 Bihar
Ela North Goa 99406 Goa
Madgaon 99407 Goa
Panjim 43192 Goa
Panjim-mapusa 99984 Goa
Panjim-old Goa 99985 Goa
Panjim-pernem 99983 Goa
Amreli Kvk 99408 Gujarat
Chhotaudepur 99409 Gujarat
Dadra & Nagar Haveli 99964 Gujarat
Dahod 99410 Gujarat
Daman 42916 Gujarat
Dang 99411 Gujarat
Jamnagar 99412 Gujarat
Junagarh 88819 Gujarat
Narmada 99413 Gujarat
Panchmahal Kvk 99414 Gujarat
Patan 88818 Gujarat
Sasan Gir 88817 Gujarat
Silvassa 88816 Gujarat
Surat Kvk 99415 Gujarat
Valsad 99416 Gujarat
Damla 99422 Haryana
Gurgaon Kvk 99417 Haryana
Indri Kvk 99418 Haryana
Jagdishpur 99421 Haryana
Kurukshetra Kvk 99419 Haryana
Mahendragarh Kvk 99420 Haryana
Allain Duhangan 101000 Himachal Pradesh
Baira Siul 101001 Himachal Pradesh
Bajoli Holi 101002 Himachal Pradesh
Baspa 101003 Himachal Pradesh
Bilaspur Kvk 99423 Himachal Pradesh
Budhil 101004 Himachal Pradesh
Chamba Saru Farm 99424 Himachal Pradesh
Chamera-iii 101005 Himachal Pradesh
Chanju-i 101006 Himachal Pradesh
Hamirpur 11001 Himachal Pradesh
Integrated Kashang 101011 Himachal Pradesh
Karcham Wangtoo 101014 Himachal Pradesh
Kasauli 88814 Himachal Pradesh
Kutehr 101017 Himachal Pradesh
Malana 101018 Himachal Pradesh
Malana-ii 101019 Himachal Pradesh
Nathpa Jhakri 101023 Himachal Pradesh
Parbati St. Ii 101026 Himachal Pradesh
Sainj 101030 Himachal Pradesh
Sanjay (bhaba)
         101031 Himachal Pradesh
Sawra Kuddu 101032 Himachal Pradesh
Shanan 101034 Himachal Pradesh
Shongtong Karcham 101035 Himachal Pradesh
Sirmour Dhulakuan 99426 Himachal Pradesh
Sorang 101038 Himachal Pradesh
Sundernagar Kvk 99425 Himachal Pradesh
Tidong-i 101043 Himachal Pradesh
Anantnag 90020 Jammu & Kashmir
Baramulla 99427 Jammu & Kashmir
Jammu-airport 99981 Jammu & Kashmir
Jammu-mata Vaishno Devi Ji 99980 Jammu & Kashmir
Kathua 99428 Jammu & Kashmir
Kishanganga 101016 Jammu & Kashmir
Kupwara Kvk 99429 Jammu & Kashmir
Pakal Dul 101025 Jammu & Kashmir
Patanitop 30004 Jammu & Kashmir
Reasi Kvk 99430 Jammu & Kashmir
Sewa-ii 101033 Jammu & Kashmir
Srinagar-airport 99975 Jammu & Kashmir
Srinagar-dal Lake 99976 Jammu & Kashmir
Udhampur 90027 Jammu & Kashmir
Upper Sindh-ii 101044 Jammu & Kashmir
Bano Simdega 99446 Jharkhand
Bokaro Kvk 99431 Jharkhand
Chatra 99432 Jharkhand
Diyakel Khunti 99439 Jharkhand
Garhwa Kvk 99434 Jharkhand
Giridih Bengabad 99435 Jharkhand
Godda 99436 Jharkhand
Gumla Bishnupur 99437 Jharkhand
Hazaribag Kvk 99438 Jharkhand
Jagannathpur Bau 99447 Jharkhand
Latehar Balumath 99440 Jharkhand
Lohardaga Kvk 99441 Jharkhand
Pakur Kvk 99442 Jharkhand
Palamu Daltongunj 99443 Jharkhand
Ramgarh Kvk 99444 Jharkhand
Sahibganj Kvk 99445 Jharkhand
Sujani 99433 Jharkhand
Agumbe 43257 Karnataka
Chandurayanghalli 99457 Karnataka
Gangavathi 99455 Karnataka
Gonikoppal 99453 Karnataka
Hagari 99449 Karnataka
Hampi 88822 Karnataka
Hanuman Matti 99452 Karnataka
Hardanhally 99450 Karnataka
Kawadimatti 99459 Karnataka
Konehalli 99458 Karnataka
Mandya Kvk 99456 Karnataka
Mudigere 99451 Karnataka
Tamaka 99454 Karnataka
Varkala 30010 Kerala
Chutak 101008 Ladakh UT
Gilgit 99990 Ladakh UT
Kiru 101015 Ladakh UT
Nimoo Bazgo 101024 Ladakh UT
Kavaratti Kvk 99463 Lakshadweep
Aonwari Kvk 99464 Madhya Pradesh
Aron 99469 Madhya Pradesh
Bhopal-airport 99977 Madhya Pradesh
Bhopal-nabi Bagh 99978 Madhya Pradesh
Chitrakoot 30012 Madhya Pradesh
Deora 99477 Madhya Pradesh
Kalyanpur 99475 Madhya Pradesh
Khandwa Kvk 99471 Madhya Pradesh
Madiyahar 99468 Madhya Pradesh
Marukheda 99472 Madhya Pradesh
Nowgong 99467 Madhya Pradesh
Orchha 30013 Madhya Pradesh
Pala 99465 Madhya Pradesh
Piparsama 99476 Madhya Pradesh
Pipraundh 99470 Madhya Pradesh
Rajgarh 99473 Madhya Pradesh
Rewa Kvk 99474 Madhya Pradesh
Sanchi 30014 Madhya Pradesh
Talun 99466 Madhya Pradesh
Buldhana Kvk 99480 Maharashtra
Gadchiroli Kvk 99481 Maharashtra
Karanjkhop 101089 Maharashtra
Nagpur Kvk 99482 Maharashtra
Sakoli 99479 Maharashtra
Washim Kvk 99487 Maharashtra
Aizwal-lengpui 42727 Mizoram
Angul Kvk 99494 Orissa
Balangir Kvk 99495 Orissa
Cuttack Kvk 99496 Orissa
Gajapati1 99497 Orissa
Gajapati2 99498 Orissa
Gunupur Kvk 99503 Orissa
Jagatsinghpur Kvk 99499 Orissa
Mayurbhanj 99500 Orissa
Panipolia 99501 Orissa
Puri Kvk 99502 Orissa
Jaipur-amer 99969 Rajasthan
Jaipur-collectorate Circle 99968 Rajasthan
Jaipur-transport Nagar 99967 Rajasthan
Jaipur-vaishali Nagar 99966 Rajasthan
Maduranathankam 100462 Tamil Nadu
Negamam 100552 Tamil Nadu
Adilabad Kvk
         99531 Telangana
Kampasagar 99534 Telangana
Malyal 99533 Telangana
Wyra
         99532 Telangana
Ramgarh 101082 Uttrakhand

In [45]:
# def parse(id: int, text: str):
#     soup = BeautifulSoup(text, 'lxml')
    
#     result = []

#     element_with_forecast_header = soup.find('font',string=re.compile("7 Day's Forecast"))
#     try:
#         forecast_rows = element_with_forecast_header\
#                         .parent.parent.parent.parent.find_all('tr')[-7:]
#     except:
#         print(f"Could not find details for {id}")
#     else:
#         for row in forecast_rows:
#             values = row.find_all('font')
#             image = row.find('img')['src']
#             res = [id]
#             for value in values:
#                 res.append(value.text.strip())
#             res.append(image)
#             result.append(tuple(res))
#     finally:
#         return result

In [48]:
# with open("station_ids.json", "w") as file:
#     json.dump(non_zero_forecast_station_ids, file, indent=4)

In [10]:
output_folder = "../data/weather_images/"
for i in range(16):
    url = f'https://city.imd.gov.in/citywx/img/{i}.gif'
    response = requests.get(url)
    if response.status_code == 200:
        image_name = os.path.basename(f"{i}_weather_image.jpg")
        image_path = os.path.join(output_folder, image_name)

        with open(image_path, "wb") as f:
            f.write(response.content)
        print(f"Downloaded: {image_name}")
    else:
        print(f"Failed to download: {url}")

Downloaded: 0_weather_image.jpg
Downloaded: 1_weather_image.jpg
Downloaded: 2_weather_image.jpg
Downloaded: 3_weather_image.jpg
Downloaded: 4_weather_image.jpg
Downloaded: 5_weather_image.jpg
Downloaded: 6_weather_image.jpg
Downloaded: 7_weather_image.jpg
Downloaded: 8_weather_image.jpg
Downloaded: 9_weather_image.jpg
Downloaded: 10_weather_image.jpg
Downloaded: 11_weather_image.jpg
Downloaded: 12_weather_image.jpg
Downloaded: 13_weather_image.jpg
Downloaded: 14_weather_image.jpg
Downloaded: 15_weather_image.jpg